.white-box-r {
    background-color: white;
    padding: 25px 50px 50px;
    margin: 125px 0px 75px 0px;
}

.white-box-l {
    background-color: white;
    padding: 50px 50px;
    margin: 125px 0px 75px 0px;
}